.App {
  text-align: center;
  max-width: 100%;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
}

.main-body {
  max-width: 603px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.limit-width {
  width: 990px;
}

.icon {
  background-size: cover;
}