.DataTable {
  border-collapse: collapse;
}

.DataTable .data-table-row {
  height: 38px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.DataTable .data-table-row.has-data {
  border-top: 1px solid #C8C8C8;
}

.DataTable .data-table-row td:first-child, .DataTable .data-table-row th:first-child {
  padding-left: 15px;
}

.DataTable .data-table-row-title {
  margin-right: 20px;
}

.DataTable .data-table-header-row th, .DataTable .data-table-row-title {
  color: #999;
  font-weight: normal;
}