div.FeedControls {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 5px;
  width: inherit;
}

.full-forecast a, .prev-5 a, .next-5 a {
  color: #F05514;
}

.next-5 {
  margin-left: 20px;
}

.prev-5, .next-5 {
  display: inline-block;
}