.flag-container .FlagIcon, .flag-selector-container .FlagIcon {
  float: left;
  padding-right: 15px;
}

.flag-container .FlagIcon {
  margin-top: 12px;
  margin-left: 10px;
}

.flag-container .FlagIcon::after {
  content: '';
  border-style: solid;
  border-width: 6px 6px 0;
  border-color: #1f384d transparent transparent;
  position: absolute;
  left: 30px;
  top: 5px;
}
