.SettingsBar {
  height: 1em;
  margin-bottom: 30px;
}

.settings-bar-container {
  display: inline-block;
  margin: 0;
}

.location-settings {
  float: left;
  position: relative;
}

.country-breadcrumbs {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  padding-left: 20px;
  vertical-align: middle;
}

.country-breadcrumbs li {
  display: inline;
  vertical-align: middle;
  font-size: 11px;
  color: rgba(31, 56, 77, 0.5);
}

.country-breadcrumbs li::before {
  content: '> ';
  display: inline;
  vertical-align: 10%;
}

.country-breadcrumbs li.first::before {
  content: '';
}

.country-breadcrumbs li::after {
  content: ' ';
  white-space: pre;
}

.country-breadcrumbs li.last::after {
  content: '';
}

.data-settings {
  float: right;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

.data-settings span {
  color: #4C6071;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
